---
import NavAlt from './NavAlt.astro';

const { heroImage, navStyle } = Astro.props;
let heroStyle = navStyle ? ' pb-2' : ' md:-mt-24';
---

<header class="mx-auto relative w-full z-20">
	<div class="px-16">
		<NavAlt />
	</div>
  <section class="@container">
		<div class:list={[
				"z-0 flex flex-col justify-end items-center align-middle rounded-b-4xl md:h-[960px] lg:h-[800px]",
				"px-8 bg-cover bg-bottom bg-no-repeat", 
				heroStyle,
			]}
			style={`background-image: url('${heroImage ?? "/images/hero.jpg"}');`}
		>
			<div class:list={[
				"flex flex-col justify-center lg:w-5xl",
				"dark:bg-gradient-to-t from-slate-950 to-slate-900/0 to-40% pt-10 pb-2 lg:py-16 mb-10"
			]}>
				<slot />				
			</div>
			<slot name="form" />
		</div>
	</section>
</header>