<section>
  <div class="flex flex-col justify-between md:flex-row">
    <div class="text-lg/relaxed ps-7 space-y-6 mt-12 px-8 md:w-1/2 xxl:mt-24">
      <h3 class="text-base/relaxed text-slate-700 font-medium uppercase mb-0">Nosotros </h3>
      <h2 class="text-4xl font-title font-bold leading-14 md:text-5xl">¿Por qué elegirnos?</h2>
      <p>
        <!-- <strong>Transporte privado con chofer</strong> es la mejor opción para tus traslados en Guadalajara y sus alrededores. -->
        Somos una empresa 100% mexicana con pasión por brindar experiencias de transporte seguras, puntuales y personalizadas. Nuestra misión es que llegues a tu destino sin estrés, con total confianza y comodidad.
      </p>
      <p>
        Contamos con un equipo de profesionales altamente capacitados y vehículos de alta calidad para garantizar tu seguridad y comodidad.
      </p>
      <ul class="space-y-3 ps-3 mt-8">
        <li>✅ Puntualidad garantizada para eventos y traslados.</li>
        <li>✅ Choferes profesionales y confiables.</li>
        <li>✅ Van cómoda y equipada para cualquier ocasión.</li>
        <li>✅ Cobertura local en Guadalajara y viajes a todo México.</li>
      </ul>
    </div>
    <div class="mt-12 md:mt-0 md:w-1/2">
      <img src="/images/nosotros/4506-9681-e45fd41e759.jpg" alt="Van de transporte privado" 
      class="w-full h-auto object-cover rounded-b-4xl border-2 border-t-0 sm:border-t-2 border-slate-200 md:rounded-bl-none md:rounded-r-4xl" />
    </div>
  </div>
</section>