---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout-destino.astro";

type Props = CollectionEntry<"destinos">;

export async function getStaticPaths() {
  const destinos = await getCollection("destinos");
  return destinos.map((destino: Props) => ({
    params: { slug: destino.id },
    props: destino,
  }));
}

const destino = Astro.props;
const { Content } = await render(destino);
---

<Layout 
	heroImage={destino.data.heroImage}
	navStyle="bg-white"
>
	<div slot="header">
		<h1 class="text-slate-50 font-title text-pretty text-8xl/tight font-bold text-shadow-xl text-shadow-white"
			style={{ textShadow: "2px 2px 3px rgba(0,0,0,0.6)" }}
		>
			{destino.data.title}
		</h1>
		<h2 class="text-slate-50 ml-2 mt-4 text-pretty text-3xl/relaxed text-shadow-xl text-shadow-slate-800"
			style={{ textShadow: "1px 2px 3px rgba(0,0,0,0.6)" }}
		>
			{destino.data.subtitle}
		</h2>
	</div>
	<main class:list={[
		"max-w-8xl mx-auto my-30",
		"prose prose-h1:font-bold prose-h1:text-3xl",
		"prose-p:text-lg prose-p:text-justify prose-ul:list-disc prose-ul:list-inside prose-ul:text-lg",
		"prose-img:rounded-xl"
	]}>
	<div class="max-w-screen-lg mx-auto">
		<Content />
	</div>
	</main>
</Layout>