---
import Layout from '../layouts/layout.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Services from '../components/sections/OurServices.astro';
import Testimonials from '../components/sections/Testimonials.astro';
---

<Layout>
	<div id="servicios" class="my-20 md:py-10 md:my-30">
		<Services />
	</div>	
	<div id="nosotros" class="my-20 md:py-10 md:my-30">
		<div class="bg-slate-200 rounded-4xl">
			<AboutUs />
		</div>
	</div>
	<div id="testimonios" class="my-20 md:py-10 mb:my-30">
		<Testimonials />
	</div>
</Layout>
