---
const { text, href, style } = Astro.props;
---

<a href={href}
  class:list={[
    "rounded-sm px-6 py-3 text-sm font-medium text-white shadow-sm transition bg-blue-800 hover:bg-blue-700" ,
    style
  ]}
>
  {text}
</a>