---
const { text, name } = Astro.props;
---

<div class="flex flex-col justify-between gap-4 p-6 bg-slate-100 border border-slate-200 rounded-2xl shadow-xl shadow-slate-900/10 min-h-[220px]">
  <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"
    class="text-slate-300 fill-current">
    <path d="M24 7.3h-5.1L22.3.4H17l-3.4 6.9v10.3H24V7.3zM10.3 17.6V7.3H5L8.6.4H3.4L0 7.3v10.3h10.3z" fill="current"></path>
  </svg>
  <p class="">{text}</p>
  <p class="font-display text-base text-slate-900"> - {name}</p>
</div>
