---
import WhatsappIcon from '../assets/svg/whatsapp.svg'
---

<div class:list={[
    "fixed bottom-5 right-6 z-50 bg-green-500 rounded-full p-3 shadow-lg shadow-slate-900/20",
    " hover:bg-green-500/90 hover:shadow-slate-900/40 transition-all duration-300"
  ]}>
  <a href="https://wa.me/+523313977239" target="_blank">
    <WhatsappIcon class="size-10 fill-white" />
  </a>
</div>